<footer class="page-footer blue-grey">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About Me</h5>
        <p class="grey-text text-lighten-4">{{ site.description }}</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Find me!</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://www.github.com/yangzekai"><img src="{{ "/img/icons/github.png" | prepend: site.url }}" alt="Github" style="width:24px;height:24px;"></a>  <a class="grey-text text-lighten-3" href=""><img src="{{ "/img/icons/facebook.png" | prepend: site.url }}" alt="Steam" style="width:24px;height:24px;"></a></li>
          <li><a class="grey-text text-lighten-3" href="https://steamcommunity.com/id/h313"><img src="{{ "/img/icons/steam.png" | prepend: site.url }}" alt="Steam" style="width:24px;height:24px;"></a>  <a class="grey-text text-lighten-3" href="https://www.instagram.com/0xb105f00d/"><img src="{{ "/img/icons/instagram.png" | prepend: site.url }}" alt="Steam" style="width:24px;height:24px;"></a></li>
          <li><a class="grey-text text-lighten-3" href="mailto:474958457@qq.com"><i class="material-icons">email</i></da></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by Haoda Wang
      <a class="grey-text text-lighten-4 right" href="https://www.github.com/h313/yangzekai.github.io">&pi;</a>
    </div>
  </div>
</footer>
